<div class="bg-gray-100">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row p-4 ">
            <div class="md:w-3/4">
                <!-- Main Content Area -->
                <h2 class="text-2xl font-bold mb-4">Main Content</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, tortor eget consectetur
                    aliquam, mauris
                    nunc tincidunt urna, id aliquet nisl nunc vel justo. Nulla facilisi. Vestibulum ante ipsum primis in
                    faucibus
                    orci
                    luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et
                    malesuada
                    fames ac turpis egestas.</p>
            </div>
            <div class="md:w-1/4 md:order-first ">
                <!-- Sidebar Content -->
                <aside>
                    <h3 class="text-xl font-bold my-4">Sidebar</h3>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>